body 
{
  background: url("../pix/back01.jpg") no-repeat fixed;
  background-position: right bottom;
  background-color: #000000;
  color: white;
  font: 14px Arial, Verdana, sans-serif;
  text-shadow: 2px 2px 3px black;

}

a:link{color:inherit}
a:visited{color:inherit}

body nav
{
  color: magenta;
  font: bold 16px Arial, Verdana, sans-serif;;
  width: 100%;
  text-align: center;
}

body nav a
{
  text-decoration: none;
}

body nav a:after {content: " | "}
body nav a:last-child:after {content: ""}
body nav a:hover {color: darkmagenta;}
.logo 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%
}

h1
{
  font: bold 18px Arial, Verdana, sans-serif;
  color: yellow;
  text-align: center;  
  text-transform: uppercase;
}

h3
{
  font: bold 16px Arial, Verdana, sans-serif;
  color: yellow;
  text-align: left;  
}

h4
{
  font: bold 14px Arial, Verdana, sans-serif;
  color: yellow;
  text-align: left;  
}

p
{
  color: white;
  font: 14px Arial, Verdana, sans-serif;
  text-shadow: 2px 2px 3px black;
}

.hero_preview
{
  display: block;
  max-width:400px;
  width: 100%;
}

.description
{
/* border: 2px solid gray;*/
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}

.description h3
{
  text-align: center;
}
.description img
{
  border: 2px solid gray;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.heroes_list
{
  list-style-image: url("../pix/userinfo.svg");
  font: 14px Arial, Verdana, sans-serif;
  color: white;
}
/*.heroes_list li:first-child
{
  color: green;  
} */

footer
{
  color: gray;
  font: 10px Arial, Verdana, sans-serif;  
}

textarea 
{
  width: 400px;
  height: 200px;
  font: bold 14px Courier, monospace;
  color:blue;
}

textarea:focus{border: 3px solid blue;}

input[type="text"]
{
  width: 400px;
  height: 30px;
  font: bold 14px Courier, monospace;
  color: blue;
}

input[type="text"]:focus{border: 3px solid blue;}

.topbutton
{
  width: 24px;
}

form
{
  color: white;
  font: 14px Arial, Verdana, sans-serif;
  text-shadow: 2px 2px 3px black;
}

@media screen and (min-width: 560px)
{
.story-to-tell
{
  display: none; 
}
}
.timeline img
{
  display: block;
  max-width: 100%
}
@media screen and (max-width: 380px)
{
.timeline
{
  display: none;  
}
}

.timeline-alter img
{
  display: block;
  max-width: 100%
}

@media screen and (min-width: 381px)
{
.timeline-alter
{
  display: none; 
}
}

.flex-nav {
display: flex;
justify-content: center;
}

.flex-nav a:after {content: ""}

.nav-item {
padding-right: 10px;
padding-left: 10px;
/* border: 2px solid gray;*/

}
.flex-container {
display: flex;
justify-content: space-evenly;
align-items: stretch;
}
.flex-item {
display: block;
  width:200px;
}
/* Small screens */
@media all and (max-width: 750px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 450px) {
  .flex-nav {
  flex-direction: column;
  }
}

.btn-watch {
/*  background: blue;*/
  background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
  color: white;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 3px rgba(200,200,200,0.5);
  transition: padding 500ms; 
}

.btn-watch:hover {
  padding: 20px 30px;
}